# rest of ignoring rules will be inherited from the instantiation of the react project
# please make sure you have a LF at the end of this file

# not commiting to git this project
*
!.gitignore
#!.gitkeep
